{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container space">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-60">
        <div class="row h-60 d-flex justify-content-center space">
            <div class="col-7 col-md-7 my-auto text-center">
                <h1 class="display-8 text-white">
                Rank better on Google search with great User Experience
                </h1>
                <div class="my-5">
                    <h4>
                    <a href="" class="visit-now-button btn btn-lg rounded-pill py-3 bubbly-button">Learn more</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}