{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container space">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-60">
        <div class="row h-60 d-flex justify-content-center space">
            <div class="col-7 col-md-7 my-auto text-center">
                <h1 class="display-8 text-black">
                Rank better on Google search with great User Experience
                </h1>
                <div class="my-5">
                    <h4>
                    <a href="{% url 'products'}" class="visit-now-button btn btn-lg rounded-pill py-2">Learn more</a>
                    </h4>
                </div>
            </div>
        </div>
           <!-- Search -->
            <div class="col-12 col-lg-12 my-auto py-1 py-lg-0 ">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
    {% endblock %}

    {% block content_hero %}
        <section class="icon-block">    
        <h2 class="text-black"><i class="fas fa-draw-polygon fa-lg"></i>  Icon bundles</h2>
        <div class="row border-top border-dark">
                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="#">
                                    <img class="card-img-top img-fluid" src="media/tech_icons_1.png" alt="{{ product.name }}">
                                </a>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Tech Icons<span class="text-right float-right">40 icons</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="#">
                                    <img class="card-img-top img-fluid" src="media/tech_icons_1.png" alt="{{ product.name }}">
                                </a>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Tech Icons<span class="text-right float-right">40 icons</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="#">
                                    <img class="card-img-top img-fluid" src="media/tech_icons_1.png" alt="{{ product.name }}">
                                </a>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Tech Icons<span class="text-right float-right">40 icons</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="#">
                                    <img class="card-img-top img-fluid" src="media/tech_icons_1.png" alt="{{ product.name }}">
                                </a>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Tech Icons<span class="text-right float-right">40 icons</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
                    <p class="product-link"><span><a href="{% url 'products'}" class="">See more bundles  <i class="fas fa-arrow-right fa-lg"></i></a></span>
                    </p>
</section>
        <section>    
        <h2 class="text-black"><i class="fas fa-hands-helping fa-lg"></i>  Services</h2>
        <div class="row border-top border-dark">
                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="#">
                                    <img class="card-img-top img-fluid" src="media/tech_icons_1.png" alt="{{ product.name }}">
                                </a>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Tech Icons<span class="text-right float-right">40 icons</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="#">
                                    <img class="card-img-top img-fluid" src="media/tech_icons_1.png" alt="{{ product.name }}">
                                </a>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Tech Icons<span class="text-right float-right">40 icons</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="#">
                                    <img class="card-img-top img-fluid" src="media/tech_icons_1.png" alt="{{ product.name }}">
                                </a>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Tech Icons<span class="text-right float-right">40 icons</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="#">
                                    <img class="card-img-top img-fluid" src="media/tech_icons_1.png" alt="{{ product.name }}">
                                </a>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Tech Icons<span class="text-right float-right">40 icons</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
                    <p class="product-link"><span><a href="{% url 'products'}" class="">See all services  <i class="fas fa-arrow-right fa-lg"></i></a></span>
                    </p>
</section>

<section>

</section>
{% endblock %}