{% extends "base.html" %}
{% load static %}
        <!-- Header -->
{% block page_header %}
    <div class="container header-container space">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
        <!-- Content -->
{% block content %}
    <div class="container h-60">
        <div class="row h-60 d-flex justify-content-center space">
            <div class="col-7 col-md-7 my-auto text-center">
                <h1 class="display-8 text-black">
                Order custom posters today!
                </h1>
                <div class="my-5">
                    <h4>
                    <div class="links"><a href="{% url 'contact-me' %}" class="visit-now-button btn btn-lg rounded-pill py-2">Order</a></div>
                    </h4>
                </div>
            </div>
           <!-- Search -->
            <div class="col-12 col-lg-12 my-auto py-1 py-lg-0 ">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
    {% endblock %}
        <!-- Hero -->
    {% block content_hero %}
        <section class="icon-block">    
        <h2 class="text-black"><i class="fas fa-image fa-lg"></i>  Poster collection
        <a href="{% url 'products' %}" class="product-link">See all posters <i class="fas fa-arrow-right fa-lg"></i></a></h2> 
        <div class="row border-top border-dark">
                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                    <img class="card-img-top img-fluid" src="media/paris_collection.jpg" alt="{{ product.name }}">
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Paris<span class="text-right float-right">2 posters</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                    <img class="card-img-top img-fluid" src="media/ghibli_collection.jpg" alt="{{ product.name }}">
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Ghibli<span class="text-right float-right">1 poster</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                    <img class="card-img-top img-fluid" src="media/travel_collection.jpg" alt="{{ product.name }}">
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Travel<span class="text-right float-right">3 posters</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                    <img class="card-img-top img-fluid" src="media/stormtrooper_collection.jpg" alt="{{ product.name }}">
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold text-black">Storm Trooper<span class="text-right float-right">2 posters</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
</section>
    {% endblock %}