{% extends "base.html" %}

{% block content %}
<div class="page container text-dark">
    <div class="row justify-content-center container-contact">
                <h1 class="display-4 text-black">
                Make your custom order today!</h1>   
        <!-- Responsive Order request contact form -->
        <div class="col-xs-12 col-lg-6 m-5">
            <form method="post" action="">
                <legend>Send a request</legend><p>Our prices range depending on how complex your order is.<br/> Note: We normally answer within 24 hours</p>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn-primary btn btn-outline-black rounded-25">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}