<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
                   <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-draw-polygon fa-lg"></i></div>
                                <p class="my-0">Icons</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-paint-brush fa-lg"></i></div>
                                <p class="my-0">Illustrations</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-hands-helping fa-lg"></i></div>
                                <p class="my-0">Services</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-suitcase fa-lg"></i></div>
                                <p class="my-0">Showcase</p>
                            </div>
                        </a>
                    </li>
    </ul>
</div>