<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
                   <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-draw-polygon fa-lg"></i></div>
                                <a href="{% url 'products' %}"><p class="my-0 main-menu">Icons</p></a>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-paint-brush fa-lg"></i></div>
                                <a href="{% url 'illustrations' %}"><p class="my-0 main-menu">Illustrations</p></a>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-hands-helping fa-lg"></i></div>
                                <a href=""><p class="my-0 main-menu">Services</p></a>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-suitcase fa-lg"></i></div>
                                <a href="{% url 'products' %}"><p class="my-0 main-menu">Showcase</p></a>
                            </div>
                        </a>
                    </li>
    </ul>
</div>